@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

/*.tt{
    background-image:url("../img/2020-dti-pulse-survey-animation.gif");
    background-size: cover;
     background-repeat: no-repeat;
}*/
.idd{
    background-color: #FFF;
}
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
}
:root {
    --primary: #2B75E2;
    --secondary: #ff0000;
    --secondary-light: #fc00005e;
    --third: #78909C;
    --third-light: #d9d9d9a9;
    --black: #000;
    --white: #FFF;
    
}

/*Cabeçalho*/
header {
    background-color: var(--third-light);
    border-bottom: 0.4rem solid var(--third);
    display: flex;
    height: 6rem;
}
header picture {
    margin-left: 0.5rem;
    padding: 0.5rem;
}
header picture img {
    height: 100%;
}

/*Navegação*/
header nav {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: right;
}
header nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    height: 100%;
}
header nav ul li {
    padding: 1rem;
    height: 100%;
    display: flex;
    align-items: center;
}
header nav ul li a {
    text-decoration: none;
    color: var(--black);
}
header nav ul li:hover {
    background-color: var(--secondary-light);
    color: var(--white);
}

/*Principal*/
main {
    min-height: calc(100vh - 9rem);
}
main section {
    display: flex;
    max-width: 1090px;
    margin: 0 auto;
}
main section.img img {
    width: 50%;
}

/*noticias*/
#emp{
    width: 600px;
}

.grid {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 0.1rem;
    margin-left: 10px;
}
main img{
    width: 300px;
    padding-top:1rem;

}
#imgt{
   width: 50px;
}
.coluna1{
    
}
#ftemp1{
    width: 600px;
  
}
#ftemp2{
display:flex;
padding-left: 55rem;

}

.tchau{
    width: 40%;
}

#ty{
    padding-left: 40rem;
}
#fn{
    display: flex;
    margin-left: 500px;
    margin-top: 50px;
    width: 800px;

}
/*Rodapé*/
footer {
    background-color: var(--third);
    height: 3rem;
}
footer img {
    height: 100%;
    padding: 0.4rem;
}